.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add-movie-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 24px;
}

.movie-details-container {
  max-width: 900px;
}

.routes-container {
  padding: 16px;
}

.game-box {
  height: 160px;
  /* width: 160px; */
  background: white;
  color: black;
  font-size: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
}
.game-box:hover{
  background:hsla(0, 0%, 0%, 0.096);
}


.board{
  
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(3,1fr);
  max-width: 480px;
   
}